@import url(../profile-base/style.css);

/************************** user bar ***************************/

#user a,
#user a strong {
  color: #2c1c44;
}

/************************** content ***************************/

#content .block-title,
#content .main-block h1, #not-found h1, #access-denied h1 {
  border-bottom:2px solid #A40000;
  color: #2c1c44;
}

.profile-image-block p {
  color: #2c1c44;
}

.block a {
  color: #2c1c44;
}

.block a:visited {
  color: #2c1c44;
}

.control-panel a,
.control-panel a:visited {
  color: #000;
}

.controller-profile_editor .control-panel a:hover {
  /* background-color: #A40000; */
  color: #FFF;
}

#content .link-list-block li a:hover {
  /* background-color: #A40000; */
}

#content .link-list-block li a.link-this-page {
 /*  background-color: #CC0000;
  border-right:2px solid #A40000; */
}

.template-rightbar #content .link-list-block li a.link-this-page,
#content .box-3 .link-list-block li a.link-this-page {
  border-left: 2px solid #A40000;
}

/************** blog **************/

#content .blog-post .title a:hover {
  color: #A40000;
}

/**************************** Comments *******************************/

#content .comments h3 {
  color: #A40000;
  border-bottom: 2px solid #A40000;
}

.post_comment_box h4 {
  background-color: #A40000;
  color: #FFF;
}

/************************** theme footer ***************************/

#footer-content a,
#footer-content a:hover,
#footer-content a:visited {
  color: #2c1c44;
}
